button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: opacity 0.3s;
  }
  
  button:hover {
    opacity: 0.7;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
  }
  h5 {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
  }
