<div class=" max-w-screen-xl mx-auto px-4">
    <div class="shadow-md p-3">
      <p class="text-xl font-semibold">Welcome, {{ loginName }}</p>
      <div class="flex items-center justify-end ">
        <button (click)="userlogout()" class="bg-red-500 hover:bg-red-700 text-white px-3 py-1 rounded-md text-sm -mt-8">
          Logout
        </button>
      </div>
    </div>
  
  <div class="p-4" *ngIf="users">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="border-b">User Id</th>
          <th class="border-b">Username</th>
          <th class="border-b">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="bg-gray-100">
          <td class="border-r">{{ user.id }}</td>
          <td class="border-r">{{ user.username }}</td>
          <td class="border-r">{{ user.name }}</td>
          <td>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2" (click)="disableProfile(user.id)">Disable</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="enableProfile(user.id)">Enable</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  