<div class="bg-gray-100 min-h-screen flex items-center justify-center  ">
    <div
        class="bg-white shadow-md rounded-md p-8 w-full md:w-5/6 lg:w-4/5 xl:w-4/5 2xl:w-3/4  bg-gradient-to-r from-beigh-500 to-bisque-500">
        <div class="text-center">
            <h1 class="text-2xl font-semibold mb-4">Create Your Blog-Post</h1>
        </div>
        <form (ngSubmit)="submitBlog()">
            <div class="mb-4">
                <label class="block text-sm font-medium mb-1" for="author">Author Name</label>
                <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-200" type="text" id="name"
                    name="name" [value]="author_name" readonly>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium mb-1" for="title">Blog Title</label>
                <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-200" type="text" id="title"
                    name="title" [(ngModel)]="title" required (blur)="showTitleError = true">
                <p *ngIf="showTitleError && !title" class="text-red-600">Title is required.</p>
            </div>
            <div class="mb-4">
                <label for="customTags" class="block text-gray-700 font-medium mb-2">Tags to find your blog.
                    (comma-separated):</label>
                <input type="text" id="customTags" [(ngModel)]="customTags" name="customTags"
                    class="w-full p-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
                    placeholder="Enter tags..." (input)="onCustomTagsInputChange()">
                    <p *ngIf="showTitleError && !title" class="text-red-600">Tags are required.</p>
            </div>
            <div class="flex flex-wrap">
                <div *ngFor="let tag of tags"
                    class="border border-gray-300 px-2 py-1 mx-2 rounded-lg hover:border-blue-500 hover:bg-blue-100 transition-colors cursor-pointer">
                    {{ tag }} <span (click)="removeTag(tag)" class="cursor-pointer ml-1">×</span>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium mb-1" for="description">Write Your Blog</label>
                <angular-editor [placeholder]="'Enter text here...'" id="description" name="description"
                    [config]="config" [(ngModel)]="description"></angular-editor>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium mb-1" for="url">Add URL of Images (If you're interested)</label>
                <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-200" type="url" id="url"
                    name="url" [(ngModel)]="url" #urlInput="ngModel" required pattern="https?://.+">
                <p *ngIf="urlInput.invalid && (urlInput.dirty || urlInput.touched)" class="text-red-600">Invalid URL.
                </p>
            </div>
            <button *ngIf="areAllFieldsFilled()" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
                type="submit" [disabled]="!areAllFieldsFilled()">Create Blog-Post</button>
            <button *ngIf="!areAllFieldsFilled()" class="bg-gray-400 text-white px-4 py-2 rounded-md" type="submit"
                [disabled]="!areAllFieldsFilled()">Create Blog-Post</button>
        </form>
    </div>
</div>